*{
	margin:0;
	padding:0;
	box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
.inner {
	width: 100%;
	max-width: 1000px;
    min-width: 320px;
	margin: auto;
	//background-color: #8c8c94;
	//min-height: 1500px;
	padding:0;
}

.header {
	width: inherit;
	max-width: inherit;
    min-width: inherit;
	height: 50px;
	position: fixed;
	top:0;
	//background-color: #d3c0c6;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .5);
}
.name {
	padding-left: 25px;
	line-height: 50px;
	vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    //display: inline-block;
}
/* screen and max-width: 500 */
nav {
	position: fixed;
	top:50px;
	right:0;
	height: 100%;
	display: none;
}
nav ul {
	list-style-type: none;
	height: 100%;
}
nav li {
	display: block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}
nav .active {
    //background-color: #9999ae;
}
nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 5px;
}
.topmenu {
    position:relative;
    z-index:1;
	//background-color: #6a6a7a;
	float:right;
    box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, .5);
}
.submenu {
    position:relative;
    z-index:0;
	//background-color: #5b5b70;
	float:right;
    box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, .5);
}
.toggle-container {
	position:absolute;
	top:0;
	right:0;
	padding-right: 25px;
    padding-top: 9px;
	height: inherit;
	width: 48px;
	align:center;
}
.button-toggle {
    position: absolute;
    top:9px;
    right:9px;
}
#toggle {
	display:none;
}
#toggle:checked ~ nav {
	display: block;
}
#toggle:checked ~ .toggle-container {
	//padding-right: 210px;
	position: fixed;
    height: 100%;
    width: 100%;
}
@media screen and (min-width: 500px) {
    .header {
        box-shadow: none;
    }
    .name {
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .5);
        overflow: hidden;
    }
	nav {
		//position: absolute;
		top:0;
		//right:0;
        right:auto;
		height:auto;
		display: block;
        float: right;
        position: relative;

		//padding-right: 25px;

        box-shadow: none;
	}
	nav ul {
        padding-left: 10px;
        padding-right: 10px;
		list-style-type: none;
		height:25px;
	}
	nav li {
		display: inline-block;
		width: 85px;
		height:25px;
		line-height:25px;
	}
	.topmenu {
		float:none;
        //box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, .5);
        box-shadow: none;
	}
	.submenu {
		float:none;
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .5) inset;
        //box-shadow: none;
        //height: 30px
	}
	.submenu li {
        //height: 30px;
    }
	.submenu .active {
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .5) inset;
        //box-shadow: none;
	}
	.toggle-container {
		display:none;
	}

    .left-split {
        width: 50%;
        float: left;
    }
    .right-split {
        width: 50%;
        float: left;
    }
    .onecol {
        padding-left: 15px;
    }
}

.body {
    overflow: auto;
	width: 100%;
	margin-top: 50px;
    padding: 5px;
	//background-color: #cccccc;
}

.left-split {
    text-align: center;
}
.right-split {
    text-align: center;
}

.mepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.footer {
    width: 100%;
	max-width: 1000px;
    min-width: 320px;
    text-align: center;
    margin: auto;
}
