*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.inner {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	//background-color: #8c8c94;
	//min-height: 1500px;
	padding:0;
}

.header {
	width: inherit;
	max-width: inherit;
	height: 50px;
	position: fixed;
	top:0;
	//background-color: #d3c0c6;
}
.name {
	padding-left: 25px;
	line-height: 50px;
	vertical-align: middle;
    font-size: 36px;
}
/* screen and max-width: 500 */
nav {
	position: fixed;
	top:50px;
	right:0;
	height: 100%;
	display: none;
}
nav ul {
	list-style-type: none;
	height: 100%;
}
nav li {
	display: block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}
nav .active {
    //background-color: #9999ae;
}
nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 5px;
}
.topmenu {
	//background-color: #6a6a7a;
	float:right;
}
.submenu {
	//background-color: #5b5b70;
	float:right;
}
.toggle-container {
	position:absolute;
	top:0;
	right:0;
	padding-right: 25px;
    padding-top: 9px;
	height: inherit;
	width: 48px;
	align:center;
}
#toggle {
	display:none;
}
#toggle:checked ~ nav {
	display: block;
}
#toggle:checked ~ .toggle-container {
	//padding-right: 210px;
}
@media screen and (min-width: 500px) {
	nav {
		position: absolute;
		top:0;
		right:0;
		height:auto;
		display: block;

		//padding-right: 25px;
	}
	nav ul {
		list-style-type: none;
		height:25px;
	}
	nav li {
		display: inline-block;
		width: 85px;
		height:25px;
		line-height:25px;
	}
	.topmenu {
		float:none;
	}
	.submenu {
		float:none;
	}
	.toggle-container {
		display:none;
	}

    .left-split {
        width: 50%;
        float: left;
    }
    .right-split {
        width: 50%;
        float: left;
    }
    .onecol {
        padding-left: 15px;
    }
}

.body {
    overflow: auto;
	width: 100%;
	margin-top: 50px;
    padding: 5px;
	//background-color: #cccccc;
}

.left-split {
    text-align: center;
}
.right-split {
    text-align: center;
}

.mepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.footer {
    width: 100%;
	max-width: 1000px;
    text-align: center;
    margin: auto;
}
