<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Andrew Egeler</title>
</head>
<body>
    <div class="header">
        <div class="name">Andrew Egeler</div>
        <div class="subtext">Learning how things work.</div>
    </div>
    <div class="body">
        <div class="onecol">
            <div class="navlink">
                <a href="/post/{{prev}}" {% if not prev %}style="visibility: hidden;"{% endif %}>&lt;&lt; Older</a>
                <a href="/post/{{next}}" {% if not next %}style="visibility: hidden;"{% endif %}>Newer &gt;&gt;</a>
            </div>
            {{post}}
        </div>
    </div>
    <div class="footer">Copyright 2020 Andrew Egeler</div>
</body>
</html>
